.android/
'Android Open Source Project'/
Code/
chromium/
dart/
dconf/
discord/
Electron/
environment.d/
eza/
fcitx/
fcitx5/
fontconfig/
ghb/
Google/
google-chrome/
gtk-3.0/
gtk-4.0/
ibus/
kitty/
lazydocker/
lazygit/
mako/
menus/
mise/
mpv/
nautilus/
obsidian/
omarchy/
opencode/
Pinta/
pulse/
qalculate/
rest-client/
swayosd/
systemd/
Typora/
walker/
waybar/
xournalpp/
yay/
brave-flags.conf
chromium-flags.conf*
mimeapps.list
omarchy.ttf
QtProject.conf
settings
tool_state
user-dirs.*
